*{
    margin: 0px;
    padding: 0px;
}
.nv{
    width: 80vw;
}
.pic-cr{
    object-fit:fill;
    height: 120vh;
}
.scrollable-div{
    margin-bottom: 20vh;
    width: 100vw;
    height: 100vh;
}
.frame-1{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
        /* width: fit-content; */
        width: 410px;
        height: 300px;
    }  

.frame{
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-row{
    margin: 20px;
    padding: 20px;
}

.card-1{
    margin: 10px;
    width: 27.5vw;
    height: 400px;
}

.image{
    width: 27.5vw;
    height: 300px;
}
.btt{
    width: 140px;
    height: 50px;
}


.frame-2{
   margin-inline:5vw ;
   padding-left: 2vw;
    margin-bottom: 20px;
}
.containr{
    height: 100%;
    width: 87vw;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,200px);
    grid-template-areas:
    "a a a a w w s s p p p p" 
    "a a a a w w s s p p p p"
    "a a a a t t z z q q q q" 
    "a a a a t t z z q q q q"
    "ac ac ac ac c c c c c c c c"
    "ac ac ac ac c c c c c c c c"
    "ac ac ac ac c c c c c c c c"
    "ac ac ac ac c c c c c c c c";

}
.f2-r1-left{
    grid-area: a;
    background-image: url("./assets/left-1.jpg");
    
}
.smal-1{
    grid-area: w;
    background-image: url("./assets/s-1.jpg");
}
.smal-2{
    grid-area: s;
    background-image: url("./assets/s-2.jpg");
}
.smal-3{
    grid-area: t;
    background-image: url("./assets/s-3.jpg");
}
.smal-4{
    grid-area: z;
    background-image: url("./assets/s-4.jpg");
}
.med-1{
    grid-area: p;
    background-image: url("./assets/m-1.jpg");
}
.med-2{
grid-area: q;
background-image: url("./assets/m-2.jpg");
}
.f2-r2-left{
    grid-area: ac;
    background-image: url("./assets/left-2.jpg");
}
.f2-r2-right{
    grid-area: c;
    background-image: url("./assets/right.jpg");
}

.down>.btt{
    width: 120px;
    height: 40px;
}
.coln{
    padding-inline: 3vw;
    padding-bottom: 20px;
}
.up{
    margin-bottom: 20px;
    margin-inline:5vw ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.down{
    margin-inline:6vw ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) and (min-width: 991px) {
    .pic{
        width: 650px;
        height: 300px;
    } 
    .card-row{
        padding: 20px;
    }
    
    .card-1{
        margin: 10px;
        width: 25vw;
        height: 400px;
    }
    
    .image{
        width: 25vw;
        height: 300px;
    }

}
@media screen and (max-width: 997px) and (min-width: 767px) {
    .pic{
        width: 650px;
        height: 300px;
    } 
    

}
 
@media screen and (max-width: 768px){
    .pic{
        width: fit-content;
        width: 450px;
        height: 300px;
    } 

.frame-1{
    
}
.card-1{
    width: 80vw;
    height: 300px;
 }
 .image{
    width: 80vw;
    height: 300px;
}
.down{
    flex-direction: column;
    margin-inline: 0px;
}
.up{
    margin-inline:1vw ;
    flex-direction: column;
    align-items: baseline;
}
.btt{
    position: relative;
    align-self:last baseline;
}
.down>p{
    position: relative;
    align-self:baseline;
}
}